<div class="container">
  <form class="addUser">
    <div class="row">
      <h2>User Registration</h2>
    </div>
    <hr>
    <div class="row">
      <div class="form-group">
        <label class="required">User Name</label>
        <input type="text" class="form-control" placeholder="User Name" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="required">Email Address</label>
        <input type="email" class="form-control" placeholder="Email Address">
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="required">Project Id</label>
        <select class=" form-control">
          <option value="7915">7915</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-2 form-group">
        <input type="checkbox" class="form-control">
      </div>
      <div class="col-8 form-group">
        <label>Is Active</label>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <input type="button" class="btn btn-success form-control" value="Save">
      </div>
    </div>
  </form>
</div>