/* 
  .addUser input {
    margin: 0 .25rem;
    min-width: 125px;
    border: 1px solid #eee;
    border-left: 3px solid;
    border-radius: 5px;
    transition: border-color .5s ease-out;
  }
  .addUser input:optional {
    border-left-color: #999;
  }
  .addUser input:required {
    border-left-color: palegreen;
  }
  .addUser input:invalid {
    border-left-color: salmon;
  } */
  /* input:blur:required:invalid {background-color: pink; color: white;}
    input:required:valid {background-color: white; color: black; } */