<div class="row">
  <div class="col-3">
    <button class="btn btn-success" (click)="successClick()">Success</button>
  </div>
  <div class="col-3">
    <button class="btn btn-danger" (click)="errorClick()">error</button>
  </div>
  <div class="col-3">
    <button class="btn btn-warning" (click)="warClick()">warning</button>
  </div>
  <div class="col-3">
    <button class="btn btn-default" (click)="infoClick()">info</button>
  </div>
  <div class="col-3">
    <button class="btn btn-default" (click)="alertClick()">alert</button>
  </div>
</div>