.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color:#007bcd; */
   
    color: black;
    text-align: center;
    background: #fff;
    
    border-top: 1px solid #d2d6de;
 }