<form [formGroup]="editForm" (ngSubmit)="editFormSubmit(editForm.value)">
    <div class="container  editReport">
      <h2>Edit Details</h2>
      <div class="card card-block bg-faded ">
        <div class=" float-sm-right">
          <div class="col-xs-4">
            <div class="float-right px-1">
              <button type="submit" class="btn btn-success" [disabled]="!editForm.valid" value="">Update</button>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="float-right">
              <button type="button" class="btn btn-danger" (click)=onDelete()>Delete</button>
            </div>
          </div>
        </div>
      </div>
      <div id="primary" class="card card-block bg-faded ">
        <h2>Message Codes</h2>
        <div class="">
          <div class="row">
            <div class="col col-sm-4 form-group">
              <label for="project_id">Project ID:<span style="color:red">*</span></label>
              <select class="form-control" formControlName="project_id" required>
                <option>7597</option>
              </select>
            </div>
            <div class="col col-sm-4 form-group">
              <label for="msgCode">Msg Code:</label>
              <input type="text" class="form-control" formControlName="msg_code" maxlength="64">
            </div>
            <div class="col col-sm-4 form-group">
              <label for="msgText">Msg Text:</label>
              <input type="text" class="form-control" formControlName="msg_text" maxlength="64">
            </div>
            <div class="col col-sm-4 form-group">
              <label for="msgAction">Msg Action:<span style="color:red">*</span></label>
              <input type="text" class="form-control" formControlName="msg_action" maxlength="64" required>
            </div>
            <div class="col col-sm-4 form-group">
              <label for="msgType">Msg Type:<span style="color:red">*</span></label>
              <input type="text" class="form-control" formControlName="msg_type" maxlength="64" required>
            </div>
            <div class="col col-sm-4 form-group">
              <label for="msgCat">Msg Cat:<span style="color:red">*</span></label>
              <input type="text" class="form-control" formControlName="msg_cat" maxlength="64" required>
            </div>
            <div class="col col-sm-4 form-group">
              <label for="DbRecord">DB Record:</label>
              <input type="text" class="form-control" formControlName="db_record_ts" maxlength="64">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
